.App {
  margin: 60px;
}
body {
  background-color: #FFEEED;
  background-image: url(cloud1.png), url(cloud7.png), url(cloud8.png), url(cloud9.png), url(cloud4.png), url(cloud5.png), url(cloud6.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat; 
  background-position: 50% 2.5%, 98% 1%, 5% 5%, 25% 9%, 10% 103%, 92% 95%, 99% 20%;
}

.all{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro {
  margin: 70px;
  color: black;
  letter-spacing: 5px;
}

.name{
  font-size: 26px;
}
.smalltxt{
  font-size: 13px;
  letter-spacing: 3px;
}
.maincloud{

}

.container{
  margin-bottom: 30px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.aboutme{
  margin: 20px;
  margin-top: 60px;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.14em;
  width: 300px;
  height: 14px;
  padding: 10px;
  background: rgba(255, 186, 186, 0.4);
  border-radius: 25px;

  display: flex;
  align-self: center;

  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;

  color:#FFFFFF;
  letter-spacing: 4px;
  font-weight: bold;
}

.about{
  position: relative;
  width: 450px;
  height: auto;
  padding: 20px; 
  background: #FFFFFF;
  border: 1px solid rgba(255, 186, 186, 0.6);
  box-sizing: border-box;
  border-radius: 45px;
  display: flex;
  align-self: center;
  color: black;
  margin-bottom: 70px;
}

.text{
  padding: 30px;
  font-size: 15px;
}

.darkpink{
  padding: 40px;
  width: 100vw;
  height: auto;
  background: #FFFFFF;
  color: black;
  display: inline-block;
}

.darkpink2{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.title_exp{
  color: #FF8686;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 35px;
}

.title_edu{
  color: #FF8686;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 35px;
}

.title_cou{
  color: #FF8686;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 35px;
}

.title_pro{
  color: #FF8686;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 35px;
}

.experiences{
  /* font-weight: bold; */
}

img {
  max-width: 100%;
  max-height: 100%;
}

.projects{

}


.contact{
  padding: 20px;
  margin-bottom: 20px;
}
.contactme{
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.14em;
  width: 300px;
  height: 14px;
  padding: 10px;
  background: rgba(255, 186, 186, 0.4);
  border-radius: 25px;
  
  display: flex;
  align-self: center;
  
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  
  color:#FFFFFF;
  letter-spacing: 3px;
}

.button{
  background: none;
  height: 80px;
  width: 80px;
  border: none;
  margin-right: 10px;
}

.mailer{
  background: none;
  height: 48px;
  width: 48px;
  padding-bottom: 15px;
  margin-left: 10px;
}
